<ion-header>
  <ion-navbar>
    <ion-title>
      Hot and Steam-y
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="game$ | async as game">
    <ion-item>{{game?.title}}</ion-item>
    <ion-item *ngIf="images$ | async as images">
      <img style="display: block; margin: auto;" src="{{images.images[0]}}">
    </ion-item>
    <ion-row>
      <button ion-button (click)="vote(5)">
        <ion-icon name="heart"></ion-icon>
      </button>
      <ion-col style="text-align: center">{{game?.percent}}</ion-col>
      <button ion-button (click)="vote(1)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-row>
    <ion-item>Screenshots</ion-item>
    <ion-row *ngIf="images$ | async as images">
      <ion-col col-4 *ngFor="let screenshot of images.images">
        <img style="display: block; margin: auto;" src="{{screenshot}}">
      </ion-col>
    </ion-row>
  </div>
  <ion-item>User ID: {{(user$ | async)?.id}}</ion-item>
  <ion-item>Games you liked: {{(user$ | async)?.games_owned}}</ion-item>
  <ion-item>
    <button ion-button (click)="resetUser()">
      Reset this user
    </button>
  </ion-item>
</ion-content>
