body {
	background-color: #171A21;
	text-align: center;
}

#outer_div {
	background-color: #1b2838;
	color: #c7d5e0;
	font-family: arial;
	display: inline-block;
	margin-top: 50px;
	text-align: center;
	font-size: 30px;
	width: 500px;
	height: 600px;
}

#inner_div {
	background-color: #1b2838;
	color: #66c0f4;
	display: inline-block;
	text-align: center;
	width: 200px;
	height: 50px;
	margin: 20px;
}

#image_div {
	display: inline-block;
	width: 300px;
	height: 200px;
	//border-style: solid;
	//border-width: 2px;
	//border-color: blue;
}

#game_viewer {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

#title_label {
	display: inline-block;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#slideshow_label {
	font-size: 15px;
}

#image_id {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}

#up_button {
	background-color: #2a475e;
	border-color: #66c0f4;
	color: #66c0f4;
	font-size: 15px;
	width: 50px;
	height: 50px;
	float: left;
}

#percent_label {
	width: 100px;
	height: 50px;
	font-size: 20px;
}

#down_button {
	background-color: #2a475e;
	border-color: #66c0f4;
	color: #66c0f4;
	font-size: 15px;
	width: 50px;
	height: 50px;
	float: right;
}

.screenshot {
	max-width: 115px;
	max-height: 115px;
}

#user_label {
	width: 100%;
	float: left;
	margin: 5px;
	font-size: 15px;
}

#games_label {
	width: 100%;
	float: left;
	margin: 5px;
	font-size: 10px;
}
